@model WebappMVC1.Models.Book;
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1><b> Details View With Id==</b></h1>
@Model.BookId<br />
@Model.Title
