@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model string
@using Microsoft.AspNetCore.Http;
<h1> @Context.Session.GetString("_Name")</h1>
